{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voici la liste de la catégorie {{ category.id }}: {{ category.name }}</h1>

    {% for article in articles %}
    <h2>-> {{ article.title }}</h2>
    {% endfor %}

    <a href="{{path('category', {'id': category.id}) }}">Retour</a>
{% endblock %}